.poll {
  background-color: #2b145e;
  width: 100%;
  height: fit-content;
  padding: 0.75em 1em;
  border-radius: 8px;
  border-inline: 5px solid;
  border-color: #ffc107;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poll_photo {
  display: flex;
  align-items: center;
  gap: 1em;
}

.poll_desc {
  display: flex;
  flex-flow: column;
  gap: 0.3em;
}

.option_delete {
  opacity: 0.7;
  position: absolute;
  background: transparent;
  border: none;
  color: #f0b30d;
  font-size: 1.25em;
  text-align: center;
  margin-inline: 0.5em;
  right: 0;
  bottom: 0;
  top: 0;
}
